*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #f5f5f5;
}
.navbar{
    background-color: #F5F8FD;
}
.nav-link {
    text-decoration: none;
    margin-left: 20px;
}

.nav-link:hover {
    text-decoration: underline;
}

a:not([class]) {
    text-decoration: none;
}

a:not([class]):hover {
    text-decoration: underline;
}

.home-title{
    font-weight: 500;
}

.btn{
    border-radius: 25px;
    border: 1px solid #10CAF0;
    color: #10CAF0;
    font-weight: 500;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
}

.navbar-nav{
    margin-left: auto;
}